header {
  /* box-shadow: 0 -1px 20px 2px var(--box-shadow-header); */
  background-color: var(--color-background-header);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px;
  position: relative;
}

.header-container .header-logo {
  width: var(--header-logo-width);
}

.header-container .header-menu .menu-mobile {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.header-container .header-menu .menu-mobile .row1,
.header-container .header-menu .menu-mobile .row2,
.header-container .header-menu .menu-mobile .row3 {
  width: 100%;
  height: 2px;
  background: var(--color-row-menu);
  transition: all 0.3s ease-in-out;
}

.header-container .header-menu .menu-mobile .row1.active {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.header-container .header-menu .menu-mobile .row2.active {
  opacity: 0;
}

.header-container .header-menu .menu-mobile .row3.active {
  transform: rotate(45deg) translate(-5px, -5px);
}

.header-container .menu-items {
  opacity: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 90px;
  right: 0;
  width: 100%;
  padding: 0 18px;
  background: var(--color-background-header);
  transition: opacity 0.4s ease-in-out, height 0.4s ease-in-out;
}

.header-container .menu-items.active {
  opacity: 1;
  height: 175px;
  transition: opacity 0.4s ease-out, height 0.4s ease-out;
}

.header-container .menu-items ul {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 18px;
}

.header-container .menu-items ul li::before {
  content: '';
  border: 1px solid var(--color-border-menu-item);
  margin-right: 8px;
}

.header-container .menu-items ul li a {
  color: var(--color-text-light);
  font-size: 15px;
  font-weight: 500;
}

.header-container .menu-items ul li a:hover {
  color: var(--color-text);
  transition: all 0.2s ease-in-out;
}

.presentation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 131px);
}

.presentation-container .presentation-text {
  text-align: center;
  max-width: 600px;
}

.presentation-container .presentation-text h1 span {
  color: var(--color-primary);
}

.presentation-container .presentation-text p {
  margin: 36px 0;
  font-size: var(--normal-font-size);
  color: var(--color-text-light);
}

.presentation-container .presentation-text a {
  display: block;
  max-width: 250px;
  margin: 0 auto;
  padding: 18px;
  background: var(--color-button);
  font-weight: 400;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.presentation-container .presentation-text a:hover {
  box-shadow: 0px 0px 10px var(--color-primary);
  background: var(--color-button-active);
}

.presentation-container .presentation-logo {
  display: none;
}